header{
 height: 100px;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1000;
 box-shadow: 0 0 30px 4px rgb(0, 0, 0);
 background-color: #D1BEAF;
 display: flex;
 align-items: center;
} 


.header-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 auto;
 max-width: 1200px;
 width: 100%;
 padding: 0 12px;
}


nav ul{
  display: flex;
  gap: 16px;
  align-items: center;
}
a{
    color: #472D1C;
    font-family: "Copperplate Gothic Light";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.active{
    color: #0565e2;
    font-family: "BPG No9";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.d-s a{
  cursor: pointer;
}
.d-s img{
  margin-left: 10px ;
  margin-top: 5px;
}
.d-3{
  display: flex;
  gap: 20px;  
}
.d-3 img{
 width: 50px;
 height: 50px;
}
main{
  background-color: #FCF3EB;
}
/* section 1 */
.s-1{
  height: 550px;
  margin-top: 105px;
}
.s1-container{
  height: 100%;
  display: flex;
  gap: 70px;
  margin: 0 0px; 
}    
.s1-box-1{
 width: 900px;
 height: 100%;
}
.s1-box-1 img{
  width: 100%;
  height: 100%;
}
.s1-box-2{

 width: 700px;
 height: 100%;
}
.s1-box-2 p{
 color: #472D1C;
  font-family: "Bell MT";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.34px;
}
/* section 2 */
.s-2{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.s2-container{
  width: 1400px;
  height: 500px;
}
.s2-container img{
  width: 100%;
  height: 100%;
}
/* section 3 */

.s3-container{
  height: 300px;
  color: #472D1C;
  font-family: "Bell MT";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.34px;
}
/* section 4 */
.s-4{

  margin-top: 20px;
  height: 380px;
  display: flex;
  gap: 5px;
}
.s4-container-1{

 width: 50%;
 margin-left: 5px;
 display: flex;
 gap: 5px;
} 
.s4-container-2{
 width: 50%;
 margin-right: 5px;
 display: flex;
 gap: 5px;
}
.co1-box-1{
 width: 50%;
 height: 100%;
}
.co1-box-1 img{
  width: 100%;
  height: 100%;
}

.co1-box-2{
  width: 50%;
  height: 100%;
}
.co1-box-2 p{
   color: #472D1C;
  font-family: "Bell MT";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.34px;
}
.co2-box-1{
  width: 50%;
  height: 100%;
}
.co2-box-1 img{
  width: 100%;
  height: 100%;
}
.co2-box-2{
 width: 50%;
 height: 100%;
}
.co2-box-2 p{
  color: #472D1C;
  font-family: "Bell MT";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.34px;
}
/* section 5 */
.s-5{
  height: 380px;
  margin-top: 7px;
  display: flex;
  gap: 5px;
}
.s5-container-1{
  width: 50%;
  margin-left: 5px;
  display: flex;
  gap: 5px;
}
.s5-container-2{
  width: 50%;
  margin-right: 5px;
  display: flex;
  gap: 5px;
}
/* footer */
footer{
  display: flex;
  background-color: #FCF3EB;
  height: 200px;
}
footer img{
  margin-top: 20px;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.x-x{
  width: 50px;
  height: 50px;
}