

header {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 30px 4px rgb(0, 0, 0);
    background-color: #D1BEAF;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 12px;
}

nav ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

a {
    color: #472D1C;
    font-family: "Copperplate Gothic Light";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.active {
    color: #0565e2;
    font-family: "BPG No9";
    font-size: 20px;
    font-weight: 400;
}

.d-3 {
    display: flex;
    gap: 20px;  
}

.d-3 img {
    width: 50px;
    height: 50px;
}


@media (max-width: 768px) {
    header {
        height: auto; 
        padding: 10px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 95%;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    .d-3 {
        gap: 10px;
    }

    .d-3 img {
        width: 40px;
        height: 40px;
    }
}



@media (min-width: 769px) and (max-width: 1024px) {
    .header-container {
        gap: 20px;
        padding: 0 20px;
    }

    nav ul {
        gap: 12px;
    }

    .d-3 img {
        width: 45px;
        height: 45px;
    }
}


@media (min-width: 1025px) {
    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 12px;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        flex-direction: row;
        gap: 16px;
    }

    .d-3 img {
        width: 50px;
        height: 50px;
    }
    
}
