
header {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 30px 4px rgb(0, 0, 0);
  background-color: #D1BEAF;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 12px;
}

nav ul {
  display: flex;
  gap: 16px;
  align-items: center;
}

a {
  color: #472D1C;
  font-family: "Copperplate Gothic Light";
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

a.active {
  color: #0565e2;
  font-family: "BPG No9";
  font-size: 20px;
}

.d-s img {
  margin-left: 10px;
  margin-top: 5px;
}

.d-3 {
  display: flex;
  gap: 20px;
}

.d-3 img {
  width: 50px;
  height: 50px;
}

main {
  margin-top: 120px; 
}


footer {
  display: none;
}


@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 8px;
  }

  .d-3 {
    gap: 10px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}


@media (min-width: 901px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
