header{
 height: 100px;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1000;
 box-shadow: 0 0 30px 4px rgb(0, 0, 0);
 background-color: #D1BEAF;
 display: flex;
 align-items: center;
} 


.header-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 auto;
 max-width: 1200px;
 width: 100%;
 padding: 0 12px;
}


nav ul{
  display: flex;
  gap: 16px;
  align-items: center;
}
a{
  color: #472D1C;
  font-family: "Copperplate Gothic Light";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.active{
  color: #0565e2;
  font-family: "BPG No9";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.d-s a{
  cursor: pointer;
}
.d-s img{
  margin-left: 10px ;
  margin-top: 5px;
}
.d-3{
  display: flex;
  gap: 20px;  
}
.d-3 img{
  width: 50px;
 height: 50px;
}
main{
  background-color: #FCF3EB;
 
}
  /* section 1 */
.s-1 {
    height: 606px;
    background-image: url("../img/tch.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0565e2;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #D1BEAF;
  font-family: "Bell MT";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  }
h4 {
  color: #D1BEAF;
  font-family: "Bell MT";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
/* section 2 */
.s-2{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 535px;  
}

.s-2-container{
 width: 90%;
 height: 90%;
 display: flex;
 justify-content: space-around;
}

.s-2-d1{
  width: 250px;
  height: 300px;
}
.s-2-d1 img{
    width: 100%;
    height: 200px;
   
}
.s-2-d1 h3{
  display: flex;
  justify-content: center;
    color: #472D1C;
    font-family: "Bell MT";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.s-2-d2{
  width: 300px;
  height: 300px;
}
.s-2-d3{
  width: 300px;
  height: 300px;
}
/* footer */
footer{
  display: flex;
  background-color: #FCF3EB;
  height: 200px;
}
footer img{
  margin-top: 20px;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.x-x{
  width: 50px;
  height: 50px;
}

